<%= form_with(model: [@subject, course], local: true) do |form| %>
  <div class="modal-body form-group">
    <b>Chuyên ngành:</b>
    <% if @action == 'new' %>
      <%= @subject.category.name %>
    <% end %>
    <% if @action == 'new_course' %>
    <% end %>
    <% if @action == 'edit' %>
    <% end %>
    <br/>
    <b>Môn học:</b>
    <% if @action == 'new' %>
      <%= @subject.name %>
    <% end %>
    <% if @action == 'edit' %>
      <%= form.select "subject_id", options_from_collection_for_select(Subject.all, :id, :name, "#{@course.subject_id}")%>
    <% end %>
  </div>
  <div class="modal-body form-group">
    <b>Tên chủ đề</b>
    <%= form.text_field :name %>
  </div>
  <div class="modal-body form-group">
    <b>Icon</b>
    <%= form.file_field :icon %>
  </div>
  <div class="modal-body form-group">
    <b>Mô tả</b>
    <%= form.text_area :description %>
  </div>
  <div class="modal-body form-group">
    <b>Loại câu hỏi</b>
    <%= form.radio_button(:type_course, "true", checked: true) %>
    Multichoice
    <%= form.radio_button(:type_course, "false") %>
    True/False <br/>
  </div>
  <div class="modal-footer actions">
    <% if @action == 'new' %>
      <button class="btn btn-default">Tạo mới</button>
    <% end %>
    <% if @action == 'edit' %>
      <button class="btn btn-default">Cập nhật</button>
    <% end %>
  </div>
<% end %>
