<%= form_with(model: [@subject, course], local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon %>
  </div>
  <div class="field">
    Tên chủ đề
    <%= form.text_field :name %>
  </div>

  <div class="field">
    Mô tả
    <%= form.text_area :description %>
  </div>

  <div class="field">
    Loại câu hỏi
    <%= form.radio_button(:type_course, "true", checked: true) %>
    Multichoice
    <%= form.radio_button(:type_course, "false") %>
    True/False <br/>
  </div>

  <div class="actions">
    <%= form.submit("Thêm chủ đề") %>
  </div>
<% end %>
