<h1 style="text-align: center; margin-bottom: 50px; padding: 20px">Bài kiểm tra số <%= @exam.id %></h1>
    <table style="width: 40%; margin: auto">
      <% @question_of_exams.each_with_index do |question, index| %>
        <tr>
          <td style="width: 20%"><b>Câu hỏi <%= index + 1 %>: </b></td>
          <td style="width: 50%"><%= question[:content] %></td>
          <td style="width: 30%">
            <% if question[:correct] == true %>
              <i class="fa fa-check-circle" style="color:green"></i>
            <% else %>
              <i class="fa fa-times-circle" style="color:red"></i>
            <% end%>
          </td>
        </tr>
          <% question[:answers].each_with_index do |answer, index| %>
          <tr>
              <td></td>
              <td>
                <%= index + 1 %>.<%= answer.content %>
                <% if answer.is_right == true %>
                  <i class="fa fa-check" style="color:green"></i>
                <% else %>
                <i class="fa fa-times" style="color:red"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
      <% end %>
    </table>
