<%= form_with(model: [@course, question], local: true) do |form| %>

  <div class="field">
    Nội dung câu hỏi: <br/>
    <%= form.text_area :content %> <br/>
  </div>

  <%= form.label ('Câu trả lời: ') %> <br/>
    <div class="field" id="answer_field">
    <% if @action %> <%# load edit answer%>
      <% question.answers.each do |item| %>
        <%= form.fields_for :answers, Answer.new do |ans| %>
            <div class="field">
              <%= ans.text_area :content, value: item.content %>
              <%= ans.check_box :is_right, checked: item.is_right %>
              <button type="button" onclick="removeAnswerField(event)">x</button><br/>
            </div>
          <% end %>
      <% end %>
    <% else %>
        <%= form.fields_for :answers, Answer.new do |ans| %>
          <div class="field">
            <%= ans.text_area :content %>
            <%= ans.check_box :is_right %>
          </div>
        <% end %>
        <%= form.fields_for :answers, Answer.new do |ans| %>
          <div class="field">
            <%= ans.text_area :content %>
            <%= ans.check_box :is_right %>
          </div>
        <% end %> 
    <% end %>
    </div>
  <button type="button" onClick='appendNewAnswerInput()' id="add_answer_btn">+</button>
  <div class="actions">
    <%= form.submit('Tạo mới') %>
  </div>
<% end %>

