<p>
  <strong>Nội dung:</strong>
  <%= @question.content %> <br/>
  <strong>Loại:</strong>
  <%= @question.type_question %>
  <% if @question.type_question == 2 %>
    Multichoice
  <% elsif @question.type_question.nil?  %>
    N/A
  <%else%>
    True/False
  <% end %>
</p>


<p>
  <strong>Câu trả lời:</strong> <br/>
  <% @question.answers.each do |ans| %>
    <%= ans.content %>
    <%= ans.is_right %>
    <br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', course_questions_path(@question.course_id) %>
