<p id="notice"><%= notice %></p>

<h1>Exam Details</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exam_details.each do |exam_detail| %>
      <tr>
        <td><%= link_to 'Show', exam_detail %></td>
        <td><%= link_to 'Edit', edit_exam_detail_path(exam_detail) %></td>
        <td><%= link_to 'Destroy', exam_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam Detail', new_exam_detail_path %>
