<p id="notice"><%= notice %></p>

<h1>Các lĩnh vực, chuyên ngành</h1>

<table>
  <thead>
    <tr>
      <th>Tên</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Chỉnh sửa', edit_category_path(category) %></td>
        <td><%= link_to 'Xem môn học', category_subjects_path(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Thêm chuyên ngành', new_category_path %>
