<%= form_with(model: [@category, subject], local: true) do |form| %>
  <div class="modal-body form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="modal-body form-group">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div class="modal-footer actions">
    <% if @action == 'new' %>
      <button class="btn btn-default">Tạo mới</button>
    <% end %>
    <% if @action == 'edit' %>
      <button class="btn btn-default">Cập nhật</button>
    <% end %>
  </div>
<% end %>
