<h1>
  <% if @action != 'show_newest' %>
    <%= @category.name %>/
  <% end %>
  Các môn học
</h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th colspan="2">Tên</th>
      <th>Ngày tạo</th>
      <th>Chuyên ngành</th>
      <th>Số chủ đề</th>
      <th colspan="3">Thao tác</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each_with_index do |subject, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <% if subject.image? %>
            <%= image_tag subject.image.thumb.url %>
          <% else %>
            <%= image_tag 'subject.png', size: '20x20'%>
          <% end %>
        </td>        
        <td><%= subject.name %></td>
        <td><%= subject.created_at.strftime("%b %d, %Y") %></td>
        <td><%= subject.category.name %></td>
        <td><%= subject.courses.all.size %></td>
        <td><%= link_to 'Xem các chủ đề', subject_courses_path(subject), class: 'btn btn-sm btn-default' %></td>
        <% if admin_signed_in? && !current_admin.nil? %>
          <td><%= link_to 'Chỉnh sửa', edit_subject_path(subject), class: 'btn btn-sm btn-default', data: {toggle: 'modal', target: '#modal'} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @subjects, theme: 'twitter-bootstrap-4', outer_window: 3 %>
<br>
<!-- trường hợp show tất cả các môn nên 
ko phụ thuộc vào 1 category nào -->
<% if admin_signed_in? && !current_admin.nil? %>
  <% if @action == 'show_newest'%> 
    <%= link_to 'Thêm môn học', new_subject_path, class: 'btn btn-sm btn-primary', data: {toggle: 'modal', target: '#modal'} %>
  <% else %>
    <%= link_to 'Thêm môn học', new_category_subject_path, class: 'btn btn-sm btn-primary', data: {toggle: 'modal', target: '#modal'} %>
  <% end %>
<% end %>
