<!DOCTYPE html>
<html>
  <head>
    <title>OniLearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? && !current_user.nil? %>
      <%= current_user.name %> <br/>
      <%= link_to "Đăng xuất", destroy_user_session_path, method: 'delete' %>
    <% else %>
      <%= link_to 'Đăng nhập với FB', '/users/auth/facebook'%> <br/>
      <%= link_to 'Đăng nhập với Google', '/users/auth/google_oauth2'%>
    <% end %> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
