<!DOCTYPE html>
<html>
  <head>
    <title>OniLearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-light" style="width: 100%">
        <div>
        <%= link_to 'Menu', root_path %>
        </div>
        <div>
         Logo
        </div>
        <div>
          <% if admin_signed_in? && !current_admin.nil? %>
            <%= current_admin.email %> <br/>
            <%= link_to "Đăng xuất", destroy_admin_session_path, method: 'delete' %>
          <% else %>
            <%= link_to "Đăng nhập", new_admin_session_path %>
          <% end %> 
        </div>
      </nav>
    </div>  
    <div class="row">
      <div class="col-md-3">
        <%= link_to 'Xem tất cả chuyên ngành', categories_path %> <br/>
        <%= link_to "Xem tất cả các môn học", subjects_path  %> <br/>
        <%= link_to 'Danh sách người dùng', users_path %> <br/>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>  
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </div>
  </div>
  </body>
</html>
