<!DOCTYPE html>
<html>
  <head>
    <title>OniLearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-light" style="width: 100%">
       <div>
         Menu
        </div>
         <div>
         Logo
        </div>
        <div>
          <% if user_signed_in? && !current_user.nil? %>
            <%= current_user.name %> <br/>
            <%= current_user.email %> <br/>
            <%= link_to "Đăng xuất", destroy_user_session_path, method: 'delete' %>
          <% else %>
            <%= link_to 'Đăng nhập với FB', '/users/auth/facebook', class: "btn btn-outline-primary"%>
            <%= link_to 'Đăng nhập với Google', '/users/auth/google_oauth2', class: "btn btn-outline-danger"%>
          <% end %> 
        </div>
      </nav>
    </div>
     
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

        <%= yield %>
    </div>
  </div>
  </body>
</html>
