<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>OniLearn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini" onLoad='notifyAll("<%= notice %>")'>
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>Oni</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>OniLearn</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="padding: 13px">
            <span class="sr-only">Toggle navigation</span>
          </a>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            <% if admin_signed_in? && !current_admin.nil? %>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOeE7Zz7pKoYfHTOZ3b6geJGhl0FwKfA7SD7LAAbAdCnuZEcoa" class="user-image" alt="User Image">
                  <span class="hidden-xs">Tôi là Admin</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header" style="height: 200px">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOeE7Zz7pKoYfHTOZ3b6geJGhl0FwKfA7SD7LAAbAdCnuZEcoa" class="img-circle" alt="User Image">

                    <p>
                      Tôi là Admin <br/>
                      <small>
                        <%= current_admin.email %><br/>
                        Tham gia vào <%= current_admin.created_at.strftime("%B, %Y") %>
                      </small>
                      
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-center" style="text-align: center">
                      <%= link_to "Đăng xuất", destroy_admin_session_path, method: 'delete',
                      class: "btn btn-primary btn-flat" %>
                    </div>
                  </li>
                </ul>
              </li>
              <% else %>
                <li class="dropdown user user-menu">
                  <%= link_to "Đăng nhập", new_admin_session_path, 
                  class: "btn-flat" %>
                </li>
              <% end %> 
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <% if admin_signed_in? && !current_admin.nil? %>
              <div class="pull-left image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOeE7Zz7pKoYfHTOZ3b6geJGhl0FwKfA7SD7LAAbAdCnuZEcoa" class="img-circle" alt="User Image">
              </div>
              <div class="pull-left info">
                <p>Chào bạn, Tôi là Admin</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
              </div>
            <% end %>
          </div>
          <!-- search form -->
          <% case @flag %>
          <% when 'index_cate' %>
            <%= form_with(url: categories_path, class: "sidebar-form", method: :get, local: true) do |f|%>
              <div class="input-group">
                <%= f.text_field :search_category, :class => "form-control", :placeholder => "Tên chuyên ngành..." %>
                <span class="input-group-btn">
                  <button class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
              </div>
            <% end %>
          <% when 'index_subject' %>
            <%= form_with(url: subjects_path, class: "sidebar-form", method: :get, local: true) do%>
              <div class="input-group">
                <%= text_field_tag :search_subject, nil, :class => "form-control", :placeholder => "Tên môn học..." %>
                <span class="input-group-btn">
                  <button class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
              </div>
            <% end %>
          <% when 'index_course' %>
            <%= form_with(url: courses_path, class: "sidebar-form", method: :get, local: true) do%>
              <div class="input-group">
                <%= text_field_tag :search_course, nil, :class => "form-control", :placeholder => "Tên chủ đề..." %>
                <span class="input-group-btn">
                  <button class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
              </div>
            <% end %>
          <% when 'index_user' %>
            <%= form_with(url: users_path, class: "sidebar-form", method: :get, local: true) do%>
              <div class="input-group">
                <%= text_field_tag :search_course, nil, :class => "form-control", :placeholder => "Tên người dùng..." %>
                <span class="input-group-btn">
                  <button class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
              </div>
            <% end %>
          <% end %>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="/categories">
                <i class="fa fa-th"></i> <span>Chuyên ngành</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green"><%= Category.all.size %></small>
                </span>
              </a>
            </li>
            <li>
              <a href="/subjects">
                <i class="fa fa-th"></i> <span>Môn học</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green"><%= Subject.all.size %></small>
                </span>
              </a>
            </li>
            <li>
              <a href="/courses">
                <i class="fa fa-th"></i> <span>Chủ đề</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green"><%= Course.all.size %></small>
                </span>
              </a>
            </li>
            <li>
              <a href="/users">
                <i class="fa fa-th"></i> <span>Người dùng</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green"><%= User.all.size %></small>
                </span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      
      <div class="content-wrapper">
        <%= yield %>
        <% if flash[:result] %>
          <p class = "result_search"><b><%= flash[:result] %></b></p>
        <% end %>
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
        reserved.
      </footer>
    </div>
  <!-- ./wrapper -->

</div>
</div>

<!-- modal add/update -->
<div class="container">
  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
